h1 {
  justify-content: center;
 }

img { width: 10%; height: auto; }

body {

  background-image: url(fondo.jpeg);
}

.Menu {
  padding: 10px 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  background-color: #000;
}

.Menu li {
  display: inline-block;
  margin-right: 20px;
}

.Menu a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
}

.Menu a:hover {
  background-color: #ffb380;
  transform: scale(1.1);
}

input, button {
  padding: 10px;
  font-size: 16px;
}

button {
  background-color: #ffb380;
  color: white;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  background-image: url(fondo.jpeg);
  font-family: 'Times New Roman', Times, serif;
}

.banner-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  display: block;
}

.header {
  position: relative;
  text-align: center;
}

.content {
  position: relative;
  z-index: 2;
  padding: 20px;
}


.header {
  background-color: #ffb380;
  padding: 20px;
  text-align: center;
}

.order-button {
  background-color: #d32f2f;
  padding: 10px 20px;
  cursor: pointer;
}


.titulo img {
  width: 100%;
  max-width: 800px;
  border-radius: 12px;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  font-size: 26px;
  color: #333;
  margin-top: 50px;
}

.imagenes-seccion {
  display: flex;
  justify-content: space-between;
  padding: 40px 10%;
  flex-wrap: wrap;
}

.imagen-caja {
  width: 30%;
  text-align: center;
}

.imagen-caja img {
  width: 100%;
  border-radius: 10px;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 30px;
}











  

    